Options +FollowSymLinks
RewriteEngine On
RewriteBase /Proyecto-AzulAgaveCornwall/
RewriteRule ^/$ index.html [L]
RewriteRule ^menu/$ sites/menu.php [L]
RewriteRule ^gallery/$ sites/gallery.php [L]
RewriteRule ^about/$ sites/about.php [L]
RewriteRule ^contact/$ sites/contact.php [L]
RewriteRule ^booking/$ sites/booking.php [L]
