*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}

header{
    height: auto;
}

/* Nav */

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(78, 103, 112, 0.7);
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav .logo{
    width: 20%;
    display: inline-flex;
    justify-content: center;
}

nav .logo img{
    width: 140px;
}

nav .links{
    width: 60%;
    display: inline-flex;
    justify-content: center;
}

nav .links a:nth-child(5){
    padding: 10px 15px;
    background-color: cadetblue;
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.39);
    margin-top: -10px;
    
}

nav .links a:nth-child(5):hover{
    color: white;
}

nav .links a{
    list-style: none;
    margin: 0 20px;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;
}

nav .links a:hover{
    color: #ccc;
}

nav .social{
    width: 20%;
    display: inline-flex;
    justify-content: center;
}

nav .social i{
    margin: 0 8px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

/* Banner */

.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 15% auto 0 auto
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 65vh;
    flex-shrink: 0;
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: Arial;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Main */

main{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

main > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 80px auto 30px auto;
    align-items: center;
}

main > div .img{
    width: 45%;
}

main > div .info{
    width: 45%;
}

main > div .img img{
    width: 100%;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.46);
}

main > div .info h2{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

main > div .info p{
    margin: 15px auto 15px 0;
    font-family: Verdana;
    font-size: 0.9em;
    width: 90%;
}

/* Footer */

footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(40, 108, 111);
    color: white;
    height: 200px;
}

.copy{
    background-color: rgb(23, 62, 65);
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 16px;
}

.f-info{
    width: 22%;
    text-align: center;
    padding: 25px 15px 25px 15px;
}

.f-info img{
    width: 100px;
    margin-top: -10px;
}

.f-info p{
    margin-top: 0px;
    width: 80%;
    margin: -10px auto 0px auto;
    color: white;
}

.f-contact{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-contact h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}
.f-contact p, .f-contact a{
    color: white;
    text-align: center;
}

.f-contact p{
    margin-top: 10px;
}

.f-contact a{
    color: white;
    text-decoration: none;
}

.f-contact span{
    color: white;
    font-size: 0.9em;
}

.f-booking{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-booking h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}

.f-booking p, .f-booking a{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.f-booking a{
    color: white;
    text-decoration: none;
}

.f-social{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-social h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid #ccc;
    width: 40%;
    margin: 0 auto;
}

.f-social a{
    color: white;
    font-size: 1.7em;
    padding: 10px
}

.f-social a i{
    margin-top: 13%;
}

/* Laptop */
@media (max-width: 1366px){

    .title h1{
        font-size: 2.8em;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media (max-width: 960px){

}

/* Tablet */
@media (max-width: 768px){

}

/* Phone */
@media (max-width: 390px){

}