@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 280px;
}

header{
    height: auto;
}

/* Banner */

.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 15% auto 0 auto
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 55vh;
    flex-shrink: 0;
    background-image: url('../img/main/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 1px #ECECEC;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 1.1em;
}

/* Main */

main{
    
    width: 80%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 1px 21px 0px rgba(145,135,135,0.75);
    border-radius: 5px;
    padding: 20px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card h2{
    font-size: 2em;
    margin-top: 20px;
}

.card p{
    font-size: 1em;
    margin: 20px 0;
}

.card .call{
    display: flex;
    justify-content: space-around;

}

.card .call div button{
    width: 150px;
    height: 45px;
    background-color: rgb(40, 108, 111);
    border: 1px solid transparent;
    cursor: pointer;
}

.card .call div button a{
    color: white;
    text-decoration: none;
}

.card .call div p{
    margin-bottom: 25px;
}

/* Laptop */
@media (max-width: 1366px){

    /* Banner */

    .banner-slider{
        height: 60vh;
    }
    
    .title h1{
        font-size: 2.8em;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    /* Main */

    .card{
        width: 65%;
        height: 350px;
        padding: 20px 110px;
    }

    .card .call div button{
        width: 130px;
        height: 40px;
    }

    .card h2 {
        font-size: 1.8em;
        margin-top: 20px;
    }

    .card p {
        font-size: 0.9em;
        margin: 20px 0;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media (max-width: 975px){

    .card{
        height: 300px;
        padding: 20px 90px;
    }

    .card h2{
        font-size: 1.5em;
    }

    .card p{
        font-size: 0.75em;
    }

    .card .call div button a{
        font-size: 0.9em;
    }

    .card .call div button {
        width: 110px;
        height: 35px;
    }
}

/* Tablet */
@media (max-width: 768px){

}

/* Phone */
@media (max-width: 390px){

}