@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
}

header{
    height: auto;
}

/* Banner */

.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 15% auto 0 auto
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 55vh;
    flex-shrink: 0;
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 1px #ECECEC;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 1.1em;
}

/* Main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: block;
    width: 30%;
    margin-right: 40px;
}

.info  div{
    width: 100%;
}

.info > div:first-child{
    display: flex;
    justify-content: center;
}

.info > div:first-child img{
    width: 200px;
}

.info .desc{
    padding-left: 2px;
    color: rgb(56, 54, 54);
}

.info .booking a{
    color: white;
    background-color: rgb(173, 166, 166);
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

.contact{
    width: 30%;
    margin-left: 40px;
}

.contact form div:first-child input[type="text"]{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #EEEEEE;
}

.contact form > div:nth-child(2){
    display: flex;
    justify-content: space-between;
}

.contact form > div:nth-child(2) div{
    width: 49%;
}

.contact form > div:nth-child(2) div input[type="email"]{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #EEEEEE;
}

.contact form > div:nth-child(2) div input[type="number"]{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #EEEEEE;
}

.contact form > div:nth-child(3) select{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #EEEEEE;
} 

/* Laptop */
@media (max-width: 1366px){

    .title h1{
        font-size: 2.8em;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media (max-width: 960px){

}

/* Tablet */
@media (max-width: 768px){

}

/* Phone */
@media (max-width: 390px){

}