@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 700px;
}

header{
    height: auto;
}

/* Banner */

.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    padding-top: 100px;
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 55vh;
    flex-shrink: 0;
    background-image: url('../img/main/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 1px #ECECEC;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 1.1em;
}

/* Gallery */

main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    margin-top: 60px;
    flex-direction: column;
}

.subtitle{
    margin: 15px auto;
    font-size: 1.6em;
    width: 1200px;
    text-align: center;
    font-weight: bold;
}

.subtitle h2{
    letter-spacing: 2px;
}

.subtitle hr{
    height: 3px;
    width: 100px;
    margin: 0 auto;
    border: 1px solid transparent;
    background-color: rgba(78, 103, 112, 0.7);
    margin-top: 10px;
}

.wrapper{
    margin: 0 auto 50px auto;
    width: 1200px;
}

.wrapper .gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery span{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image{
    padding: 6px;
    width: calc(100% / 3);
    height: 314px;
}

.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.gallery .image:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.preview-box{
    position: fixed;
    width: 79%;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    z-index:2000;
    transform: translate(-50%, -50%) scale(0.9);
    padding: 0 5px 5px 5px;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
}

.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}

.details{
    display: none;
    width: 100%;
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 2002;

}
.details .display{
    width: 100%;
    height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 32px 12px 32px;
}


.details .display .icon{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 40px;
    width: calc(100% / 3);
    display: flex;
    justify-content: right;
    height: 100%;
}

.details .display .icon:hover{
    color: #fff;
}

.details .display .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: calc(100% / 3);
    height: 100%;
}

.details .display .name{
    color: white;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    height: 100%;
    align-items: flex-end;
    text-align: center;
}

.details .display .title p{
    margin: 0 5px;
    color: #fff;
}

.details .display .title p.current-img{
    font-weight: 500;
    font-size: 18px;
}

.details .display .title p.total-img{
    font-weight: 500;
    font-size: 18px;
}

.preview-box .img-box{
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.img-box .slide.prev{
    left: -12%;
}

.img-box .slide.prev:hover{
    color: #fff;
}

.img-box .slide.prev i{
    font-size: 1.2em;
}

.img-box .slide.next{
    right: -12%;
}

.img-box .slide.next:hover{
    color: #fff;
}

.img-box .slide.next i{
    font-size: 1.2em;
}

.preview-box .img-box img{
    width: auto;
    border-radius: 0 0 3px 3px;
    height: 72vh;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0,0,0,1);
    z-index: 1999;
}

/* Laptop */
@media only screen and (max-width: 1366px){

    /* Banner */

    .banner-slider{
        height: 65vh;
    }

    .banner .title{
        height: 65vh;
    }
    
    .title h1{
        font-size: 2.8em;
    }
    
    /* Gallery */

    .wrapper, .subtitle{
        max-width: 1100px;
    }

    .details .display{
        padding: 20px 25px 12px 25px;
    }

    .details .display .title{
        font-size: 16px;
    }

    .details .display .title p.current-img, .details .display .title p.total-img{
        font-size: 16px;
    }

    .details .display .name{
        font-size: 2em;
    }

    .details .display .icon{
        font-size: 35px;
    }

    .preview-box .img-box img{
        height: 65vh;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media only screen and (max-width: 960px){
    .gallery .image{
        width: calc(100% / 3);
    }
}

/* Tablet */
@media only screen and (max-width: 820px){
    .gallery .image{
        width: calc(100% / 2);
    }

    /* Banner */

    .title h1{
        font-size: 2.2em;
    }

    .banner .title{
        height: 50vh;
    }

    .title p{
        margin-top: 20px;
        font-size: 0.9em;
    }

    .banner-slider{
        height: 50vh;
    }

    .details .display .name{
        font-size: 1.8em;
    }

    .details .display{
        padding: 20px 20px 12px 20px;
    }

    .details .display .title, .details .display .title p.current-img, .details .display .title p.total-img {
        font-size: 15px;
    }

    .img-box .slide{
        font-size: 28px;
    }

    .details .display .icon{
        font-size: 33px;
    }
}

/* Phone */
@media only screen and (max-width: 450px){
    .gallery .image{
        width: calc(100%);
    }

    /* Banner */

    .banner .title{
        margin: 55% auto 0 auto;
    }

    .banner-slider{
        background-attachment: initial;
    }

    /* Gallery */

    .details{
        width: 100%;
        height: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 2002;
    }

    .details .display{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 6px 12px 6px;
    }

    .details .display .title{
        display: none;
    }

    .details .display .name{
        color: white;
        width: 88%;
        display: flex;
        justify-content: center;
        font-size: 1.7em;
        font-weight: bold;
        height: 100%;
        align-items: flex-end;
        margin-left: 40px;
        text-align: center;
    }

    .details .display .icon{
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        font-size: 35px;
        width: 12%;
        display: flex;
        justify-content: right;
        height: 100%;
    }

    .preview-box{
        width: 80%;
    }

    .preview-box .img-box img{
        width: 100%;
        border-radius: 0 0 3px 3px;
        height: auto;
    }

    .img-box .slide.prev{
        left: -15%;
    }

    .img-box .slide.next{
        right: -15%;
    }

    .img-box .slide{
        font-size: 25px;
    }


}

@media only screen and (max-width: 375px){
    
}