@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}

header{
    height: auto;
}

/* Banner */

.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 15% auto 0 auto
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 55vh;
    flex-shrink: 0;
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: 'Poppins', sans-serif;;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 1px #ECECEC;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 1.1em;
}

/* Main */

main{
    width: 100%;
    height: 650px;
}

.b-contact{
    color: #fff;
    background-color: #2E2F30;
    width: 150px;
    display: block;
    padding: 20px 15px;
    text-align: center;
    font-size: 0.8em;
    margin: 20px auto 0 auto;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

.b-contact:hover{
    color: #ccc
}

/* Quick Access*/

main{
    width: 80%;
    height: 80px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin: 0 auto;
}

main:hover{
    height: 250px;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.rapid-access{
    width: 100%;
    margin: 20px auto;
}

.rapid-access ul{
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.rapid-access > ul li{
    display: table-cell;
}

.rapid-access > ul > li > table{
    background-color: transparent;
    width: 100%;
    transform: translateY(-150%);
    visibility: hidden;
    transition: 1s;
    bottom: 0;
}

.rapid-access > ul > li:hover > table{
    transform: translateY(0%);
    visibility: visible;
}

.rapid-access > ul > li > table tr td{
    width: 12%;
}

.rapid-access > ul > li > table tr td a{
    color: #fff;
    padding: 20px 10px 20px 10px;
    background-color: gray;
    margin: 2px 0px;
    font-weight: 200;
    width: 98.5%;
    z-index: 95;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.rapid-access > ul > li > table tr td a span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.rapid-access > ul > li > table tr td a.btn::after{
    content: "";
    width: 100%;
    height: 300px;
    background-color: #595a5a;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out all;
    /* border-radius: 0px 0px 300px 300px; */
}

.rapid-access > ul > li > table tr td a.btn:hover::after{
    left:0;
}

.rapid-access > ul li > span{
    position: absolute;
    width: 100%;
    line-height: 20px;
    padding: 40px;
    top: 0;
    background-color: white;
    z-index: 99;
}

.rapid-access > ul li a{
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    width: 30%;
    margin: 10px auto;
    z-index: 100;
}


/* Menu */

.menu{
    width: 80%;
    height: auto;
    background-color: white;
    margin: -40px auto 0 auto;
}

/* Menú - Banner */

.banner-m{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.menu-banner{
    width: 100%;
    display: flex;
}

.banner-menu{
    width: 100%;
    height: 20vh;
    flex-shrink: 0;
    background-image: url('../img/soups.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    filter:brightness(0.5);
}



.banner-m .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    left: 0;
    top: 80px;
}

.title h2{
    font-family: Georgia;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.desc{
    width: 98%;
    height: auto;
    z-index: 500;
    display: block;
    align-items: center;
    margin: 30px auto;
    left: 0;
}

.desc p{
    width: 82%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    color: #000;
    text-align: left;
    font-style: italic;
}

/* Banner Detail */

.detail{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.detail .l-detail{
    width: 30%;
    padding: 20px 0;
}

.t-l-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.t-l-detail p{
    font-weight: bold;
    
}

.d-l-detail{
    margin-top: 10px;
}

.d-l-detail p{
    font-size: 0.9em;
}

.detail .r-detail{
    width: 30%;
    padding: 20px 0;
}

.d-l-detail div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.d-l-detail div p:last-child{
    font-weight: bold;
}

.appetizers, .soups, .salad, .sides, .sizzling, .vegetarianos, .entrees, .combinaciones, .specials, .seafood, .burgers, .kids, .desserts, .beverages{
    /* margin-bottom: 50px; */
    width: 100%;
    margin: 50px auto;
    padding-bottom: 5px;
    background-color: rgb(240, 238, 238);
}


/* Laptop */
@media (max-width: 1366px){

    /* Banner */
    .title h1{
        font-size: 2.8em;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    /* Quickk Access*/

    .rapid-access > ul > li > table tr td a{
        font-size: 0.8em;
        padding: 15px 10px 15px 10px;
    }

    .rapid-access > ul li a {
        font-size: 0.9em;
    }

    /* Menú */

    .banner-m .title {
        font-size: 0.8em;
        top: 45px;
    }

    /* Footer */

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media (max-width: 960px){

}

/* Tablet */
@media (max-width: 768px){

}

/* Phone */
@media (max-width: 390px){

}