*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}

header{
    height: auto;
}

/* Nav */

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(78, 103, 112, 0.7);
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav .logo{
    width: 20%;
    display: inline-flex;
    justify-content: center;
}

nav .logo img{
    width: 140px;
}

nav .links{
    width: 60%;
    display: inline-flex;
    justify-content: center;
}

nav .links a:nth-child(5){
    padding: 10px 15px;
    background-color: cadetblue;
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.39);
    margin-top: -10px;
    
}

nav .links a:nth-child(5):hover{
    color: white;
}

nav .links a{
    list-style: none;
    margin: 0 20px;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;
}

nav .links a:hover{
    color: #ccc;
}

nav .social{
    width: 20%;
    display: inline-flex;
    justify-content: center;
}

nav .social i{
    margin: 0 8px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

/* Banner */


.banner{
    width: 100%;
    overflow: hidden;
}

.banner .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 18% auto 0 auto
}

.slider-banner{
    width: 100%;
    display: flex;
}

.banner-slider{
    width: 100%;
    height: 65vh;
    flex-shrink: 0;
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}


.title h1{
    font-family: Arial;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.title p{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9em;
}
/* Main */

main{
    width: 100%;
    height: 650px;
}

.b-contact{
    color: #fff;
    background-color: #2E2F30;
    width: 150px;
    display: block;
    padding: 20px 15px;
    text-align: center;
    font-size: 0.8em;
    margin: 20px auto 0 auto;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

.b-contact:hover{
    color: #ccc
}

/* Footer */

footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(40, 108, 111);
    color: white;
    height: 200px;
}

.copy{
    background-color: rgb(23, 62, 65);
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 16px;
}

.f-info{
    width: 22%;
    text-align: center;
    padding: 25px 15px 25px 15px;
}

.f-info img{
    width: 100px;
    margin-top: -10px;
}

.f-info p{
    margin-top: 0px;
    width: 80%;
    margin: -10px auto 0px auto;
    color: white;
}

.f-contact{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-contact h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}
.f-contact p, .f-contact a{
    color: white;
    text-align: center;
}

.f-contact p{
    margin-top: 10px;
}

.f-contact a{
    color: white;
    text-decoration: none;
}

.f-contact span{
    color: white;
    font-size: 0.9em;
}

.f-booking{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-booking h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}

.f-booking p, .f-booking a{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.f-booking a{
    color: white;
    text-decoration: none;
}

.f-social{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-social h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid #ccc;
    width: 40%;
    margin: 0 auto;
}

.f-social a{
    color: white;
    font-size: 1.7em;
    padding: 10px
}

.f-social a i{
    margin-top: 13%;
}

/* Quick Access*/

main{
    width: 80%;
    height: 80px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin: 0 auto;
}

main:hover{
    height: 250px;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.rapid-access{
    width: 100%;
    margin: 20px auto;
}

.rapid-access ul{
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.rapid-access > ul li{
    display: table-cell;
}

.rapid-access > ul > li > table{
    background-color: transparent;
    width: 100%;
    transform: translateY(-150%);
    visibility: hidden;
    transition: 1s;
    bottom: 0;
}

.rapid-access > ul > li:hover > table{
    transform: translateY(0%);
    visibility: visible;
}

.rapid-access > ul > li > table tr td{
    width: 12%;
}

.rapid-access > ul > li > table tr td a{
    color: #fff;
    padding: 20px 10px 20px 10px;
    background-color: gray;
    margin: 2px 0px;
    font-weight: 100;
    width: 98.5%;
    z-index: 95;
    transition: 0.3s;
}

.rapid-access > ul > li > table tr td a:hover{
    background-color: #2E2F30;
}

.rapid-access > ul li span{
    position: absolute;
    width: 100%;
    line-height: 20px;
    padding: 40px;
    top: 0;
    background-color: white;
    z-index: 99;
}

.rapid-access > ul li a{
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    width: 30%;
    font-size: 1.1;
    margin: 10px auto;
    z-index: 100;
}

/* Menu */

.menu{
    width: 80%;
    height: auto;
    background-color: white;
    margin: -40px auto 0 auto;
}

/* Menú - Banner */

.banner-m{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.menu-banner{
    width: 100%;
    display: flex;
}

.banner-menu{
    width: 100%;
    height: 20vh;
    flex-shrink: 0;
    background-image: url('../img/soups.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(0.6);
}

.banner-m .title{
    width: 100%;
    position: absolute;
    z-index: 500;
    display:block;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    left: 0;
    top: 80px;
}

.title h2{
    font-family: Georgia;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.desc{
    width: 97%;
    height: auto;
    z-index: 500;
    display: block;
    align-items: center;
    margin: 30px auto;
    left: 0;
}

.desc p{
    width: 85%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    color: #000;
    text-align: left;
    font-style: italic;
}

/* Banner Detail */

.detail{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.detail .l-detail{
    width: 30%;
    padding: 20px 0;
}

.t-l-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.t-l-detail p{
    font-weight: bold;
    
}

.d-l-detail{
    margin-top: 10px;
}

.d-l-detail p{
    font-size: 0.9em;
}

.detail .r-detail{
    width: 30%;
    padding: 20px 0;
}

.d-l-detail div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.appetizers, .soups, .salad, .sides, .sizzling, .vegetarianos, .entrees, .combinaciones, .specials, .seafood, .burgers, .kids, .desserts, .beverages{
    /* margin-bottom: 50px; */
    width: 100%;
    margin: 50px auto;
    padding-bottom: 5px;
    background-color: rgb(240, 238, 238);
}


/* Laptop */
@media (max-width: 1366px){

    .title h1{
        font-size: 2.8em;
    }

    .t-contact p{
        text-align: center;
        color: #fff;
        margin-top: 20px;
        font-size: 1em;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }
}

/* Desktop / 2 */
@media (max-width: 960px){

}

/* Tablet */
@media (max-width: 768px){

}

/* Phone */
@media (max-width: 390px){

}