/* Footer */

footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(40, 108, 111);
    color: white;
    height: 200px;
}

.copy{
    background-color: rgb(23, 62, 65);
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 16px;
}

.f-info{
    width: 22%;
    text-align: center;
    padding: 25px 15px 25px 15px;
}

.f-info img{
    width: 100px;
    margin-top: -10px;
}

.f-info p{
    margin-top: 0px;
    width: 80%;
    margin: -10px auto 0px auto;
    color: white;
}

.f-contact{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-contact h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}
.f-contact p, .f-contact a{
    color: white;
    text-align: center;
}

.f-contact p{
    margin-top: 10px;
}

.f-contact a{
    color: white;
    text-decoration: none;
}

.f-contact span{
    color: white;
    font-size: 0.9em;
}

.f-booking{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-booking h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 40%;
    margin: 0px auto 26px auto;
}

.f-booking p, .f-booking a{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.f-booking a{
    color: white;
    text-decoration: none;
}

.f-social{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-social h4{
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid #ccc;
    width: 40%;
    margin: 0 auto;
}

.f-social a{
    color: white;
    font-size: 1.7em;
    padding: 10px
}

.f-social a i{
    margin-top: 13%;
}