/* Footer */

footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(40, 108, 111);
    color: white;
    height: 230px;
    font-size: 0.9em;
}

.copy{
    background-color: rgb(23, 62, 65);
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 16px;
    font-size: 0.9em;
}

.f-info{
    width: 22%;
    text-align: center;
    padding: 25px 15px 25px 15px;
}

.f-info img{
    width: 100px;
    margin-top: -10px;
}

.f-info p{
    width: 80%;
    margin: -10px auto 0px auto;
    color: white;
}

.f-contact{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-contact h4{
    font-size: 1.3em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 45%;
    margin: 0px auto 26px auto;
}
.f-contact p, .f-contact a{
    color: white;
    text-align: center;
}

.f-contact p{
    margin-top: 10px;
}

.f-contact a{
    color: white;
    text-decoration: none;
}

.f-contact a:hover{
    color: gainsboro;
}

.f-contact span{
    color: white;
}

.f-booking{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-booking h4{
    font-size: 1.3em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 45%;
    margin: 0px auto 26px auto;
}

.f-booking p, .f-booking a{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.f-booking a{
    color: white;
    text-decoration: none;
}

.f-social{
    width: 22%;
    padding: 25px 15px 25px 15px;
    text-align: center;
}

.f-social h4{
    font-size: 1.3em;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 45%;
    margin: 0px auto 26px auto;
}

.f-social > div{
    display: grid;
    margin-top: 35px;
}

.f-social a{
    width: 100%;
    color: white;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    text-decoration: none;
}

.f-social a span:hover{
    color: gainsboro;
}

.f-social a i{
    font-size: 0.9em;
}

.f-social a span{
    font-size: 0.6em;
    margin-left: 10px;
}

footer .footer hr{
    visibility: hidden;
}


@media only screen and (max-width: 1366px){
    /* Footer */

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1.2em;
        width: 52%;
    }

    .f-info p, .f-contact p, .f-contact a, .f-contact span, .f-booking p, .f-booking a{
        font-size: 0.75em;
    }

    .copy span{
        font-size: 0.85em;
    }

    .f-social a span{
        font-size: 0.5em;
    }

    footer .footer hr{
        visibility: hidden;
    }
}

@media only screen and (max-width: 975px){
    .footer{
        font-size: 0.8em;
        height: 200px;
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        font-size: 1em;
    }

    .f-social a span{
        font-size: 0.45em;
    }

    .f-social a i{
        font-size: 0.8em;
    }

    .copy span{
        font-size: 0.8em;
    }

    footer .footer hr{
        visibility: hidden;
    }
}

@media only screen and (max-width: 820px){
    footer .footer hr{
        visibility: hidden;
    }
}

@media only screen and (max-width: 450px){
    .footer{
        display: block;
        height: 640px;
        /* margin: 0 auto; */
    }

    .f-contact h4, .f-booking h4, .f-social h4{
        width: 25%;
        margin: 0 auto 15px auto;
        font-size: 1.1em;
    }

    .f-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }

    .f-contact{
        width: 100%;
    }

    .f-booking{
        width: 100%;
    }

    .f-social{
        width: 100%;
    }

    .f-social > div{
        margin-top: 15px;
    }

    .copy{
        padding-top: 0;
        font-size: 0.7em;
        display: flex;
        align-items: center;
    }

    footer .footer hr{
        visibility: visible;
        width: 90%;
        margin: 0 auto;
    }
}

