a.scroll-top {
    color: #fff;
    display: none;
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    right: 30px;
    font-size: 22px;
    background: #222;
    border-radius: 3px !important;
    text-align: center;
    border: 1px solid hsla(0, 0%, 78%, 0.3);
    line-height: 42px;
}
a.scroll-top i {
	position: relative;
	top: 2px;
}

@media only screen and (max-width: 1366px){
    a.scroll-top{
        width: 40px;
        height: 40px;
        line-height: 37px;
    }
}

@media only screen and (max-width: 960px){
    a.scroll-top{
        width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 820px){
    a.scroll-top{
        width: 32px;
        height: 32px;
        line-height: 28px;
        font-size: 17px;
        bottom: 40px;
    }
}

@media only screen and (max-width: 450px){
    a.scroll-top{
        width: 37px;
        height: 37px;
        line-height: 31px;
        font-size: 18px;
        bottom: 40px;
        right: 15px;
    }
}

